button{
    background-color: lightgreen;
}

.counter div{
    display: inline-block;
    width: 50%;
}

.counter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

